.spotifysidebar {
  position: absolute;
  width: 20%;
  height: 100vh;
  background-color: #191414;
}

.maincontent {
  position: relative;
  left: 20%;
  height: 100vh;
  background-color: blueviolet;
}

.sidebarcol:hover {
  background-color: brown;
}
