.spotifysidebar {
  height: 100vh;
  /* background-color: #191414; */
  position: fixed;
}

.maincontent {
  /* background-color: blueviolet; */
  /* color: #fff; */
}

.sidebarcol:hover {
  background-color: brown;
}

* {
  overflow-x: hidden;
}
